<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AcademicRegistration</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <servlet-name>Register</servlet-name>
    <servlet-class>login.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddSub</servlet-name>
    <servlet-class>main.AddSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSub</servlet-name>
    <url-pattern>/AddSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddTeacher</servlet-name>
    <servlet-class>main.AddTeacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeacher</servlet-name>
    <url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AddClass</servlet-name>
    <servlet-class>main.AddClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddClass</servlet-name>
    <url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AssignClassesForSubhtml</servlet-name>
    <servlet-class>main.AssignClassesForSubhtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClassesForSubhtml</servlet-name>
    <url-pattern>/AssignClassesForSubhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AssignClassesForSub</servlet-name>
    <servlet-class>main.AssignClassesForSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignClassesForSub</servlet-name>
    <url-pattern>/AssignClassesForSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AssignTeachersForSubhtml</servlet-name>
    <servlet-class>main.AssignTeachersForSubhtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeachersForSubhtml</servlet-name>
    <url-pattern>/AssignTeachersForSubhtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>AssignTeachersForSub</servlet-name>
    <servlet-class>main.AssignTeachersForSub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTeachersForSub</servlet-name>
    <url-pattern>/AssignTeachersForSub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Studenthtml</servlet-name>
    <servlet-class>main.Studenthtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Studenthtml</servlet-name>
    <url-pattern>/Studenthtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>Student</servlet-name>
    <servlet-class>main.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ClassDetailshtml</servlet-name>
    <servlet-class>main.ClassDetailshtml</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDetailshtml</servlet-name>
    <url-pattern>/ClassDetailshtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>ClassDetails</servlet-name>
    <servlet-class>main.ClassDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassDetails</servlet-name>
    <url-pattern>/ClassDetails</url-pattern>
  </servlet-mapping>
</web-app>